<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="refresh" content="0; url=https://cryptography.github.io/src/main/resources/templates/index.html">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Encrypt</title>
    <script  th:inline="javascript">
    function updateEncriptionKey(){
          var e = document.getElementById("algorithims");
      var value = e.value;
      if(value=='Caesar'){
      document.encryptform.action='index/encrypt/caesar';
      document.getElementById('key').innerHTML=
      "<input placeholder='Key' type='number' max='25' min='1' name='key' />";
       }
       else if(value=='Viginere'){
       document.encryptform.action='index/encrypt/viginere';
      document.getElementById('key').innerHTML=
      "<input placeholder='Key' type='text' max='30' min='2' name='key' />";
       }
      else if(value=='Affine'){
      document.encryptform.action='index/encrypt/affine';
      document.getElementById('key').innerHTML=
      "<input placeholder='First key' type='number' max='25' min='1' name='a' id='a' />"+"&nbsp"+
      "<input placeholder='Second key' type='number' max='25' min='1' name='b' id='b' />";
       }
      }

      function updateDecryptionKey(){
          var e = document.getElementById("algorithims2");
      var value = e.value;
      if(value=='Caesar'){
      document.decryptform.action='index/decrypt/caesar';
      document.getElementById('key2').innerHTML=
      "<input placeholder='Key' type='number' max='25' min='1' name='key' />";
       }
       else if(value=='Viginere'){
       document.decryptform.action='index/decrypt/viginere';
      document.getElementById('key2').innerHTML=
      "<input placeholder='Key' type='text' max='30' min='2' name='key' />";
       }
      else if(value=='Affine'){
      document.decryptform.action='index/decrypt/affine';
      document.getElementById('key2').innerHTML=
      "<input placeholder='First key' type='number' max='25' min='1' name='a' />"+"&nbsp"+
      "<input placeholder='Second key' type='number' max='25' min='1' name='b' />";
       }
      }
    </script>
</head>
<body>
<div style="margin-top:150px" align="center" class="container">
<form name="encryptform" method="GET" action="index/encrypt/caesar">
    <input placeholder="Enter text.." type="text" maxlength="30" minlength="2" id="plaintext" name="plaintext">
    &nbsp
    <label>Encryption algorithm</label>
    <select onclick="updateEncriptionKey()" class="form-select" name="algorithims" id="algorithims">
        <option th:each="algorithim: ${algorithims}" th:value="${algorithim}" th:text="${algorithim}"></option>
    </select>
    <div id="key">
        <input placeholder="Key" type="number" max="25" min="1" name="key">
    </div>
    <br>
    <button class="btn btn-danger" onclick="affineCipherKeySum()" type="submit">Encrypt</button>
    &nbsp
    <input th:value="${cipherText}" placeholder="Cipher text" readonly name="ciphertext">
</form>

<form style="margin-top:80px" method="GET" action="index/decrypt/caesar" name="decryptform">
    <input placeholder="Enter text.." type="text" maxlength="30" minlength="2" name="ciphertext">
    &nbsp
    <label>Decryption algorithm</label>
    <select onclick="updateDecryptionKey()" class="form-select" name="algorithim" id="algorithims2">
        <option th:each="algorithim: ${algorithims}" th:value="${algorithim}" th:text="${algorithim}"></option>
    </select>
    <div id="key2">
        <input placeholder="Key" type="number" max="25" min="1" name="key">
    </div>
    <br>
    <button class="btn btn-success" type="submit">Decrypt</button>
    &nbsp
    <input th:value="${plaintext}" placeholder="Plain text" readonly name="plaintext">
</form>
</div>
</body>
</html>
