<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Encrypt</title>
    <script  th:inline="javascript">
    function updateEncriptionKey(){
          var e = document.getElementById("algorithims");
      var value = e.value;
      if(value=='Caesar'){
      document.encryptform.action='index/encrypt/caesar';
      document.getElementById('key').innerHTML="<label>Key</label>"+
      "<input type='number' max='25' min='1' name='key' />";
       }
       else if(value=='Viginere'){
       document.encryptform.action='index/encrypt/viginere';
      document.getElementById('key').innerHTML="<label>Key</label>"+
      "<input type='text' max='30' min='2' name='key' />";
       }
      else if(value=='Affine'){
      document.encryptform.action='index/encrypt/affine';
      document.getElementById('key').innerHTML="<label>Key</label>"+"&nbsp"+
      "<label>a</label>"+
      "<input type='number' max='25' min='1' name='a' id='a' />"+"&nbsp"+
      "<label>b</label>"+
      "<input type='number' max='25' min='1' name='b' id='b' />";
       }
      }

      function updateDecryptionKey(){
          var e = document.getElementById("algorithims2");
      var value = e.value;
      if(value=='Caesar'){
      document.getElementById('key2').innerHTML="<label>Key</label>"+
      "<input type='number' max='25' min='1' name='key' />";
       }
       else if(value=='Viginere'){
      document.getElementById('key2').innerHTML="<label>Key</label>"+
      "<input type='text' max='30' min='2' name='key' />";
       }
      else if(value=='Affine'){
      document.getElementById('key2').innerHTML="<label>Key</label>"+"&nbsp"+
      "<label>a</label>"+
      "<input type='number' max='25' min='1' name='a' />"+"&nbsp"+
      "<label>b</label>"+
      "<input type='number' max='25' min='1' name='b' />";
       }
      }
    </script>
</head>
<body>
<form name="encryptform" method="GET" action="index/encrypt/caesar">
    <input placeholder="Enter text.." type="text" maxlength="30" minlength="2" id="plaintext" name="plaintext">
    <label>Choose encryption algorithm</label>
    <select onclick="updateEncriptionKey()" class="form-select" name="algorithims" id="algorithims">
        <option th:each="algorithim: ${algorithims}" th:value="${algorithim}" th:text="${algorithim}"></option>
    </select>
    <div id="key">
        <label>Key</label>
        <input type="number" max="25" min="1" name="key">
    </div>
    <br>
    <button onclick="affineCipherKeySum()" type="submit">Encrypt</button>
    <br>
    <label>Cipher text</label>
    <input th:value="${cipherText}" readonly name="ciphertext">
</form>
<br>

<form method="GET" action="decrypt">
    <input placeholder="Enter text.." type="text" maxlength="30" minlength="2" name="ciphertext">
    <label>Choose decryption algorithm</label>
    <select onclick="updateDecryptionKey()" class="form-select" name="algorithim" id="algorithims2">
        <option th:each="algorithim: ${algorithims}" th:value="${algorithim}" th:text="${algorithim}"></option>
    </select>

    <div id="key2">
        <label>Key</label>
        <input type="number" max="25" min="1" name="key">
    </div>
    <br>
    <button type="submit">Decrypt</button>
    <br>
    <label>Plain text</label>
    <input disabled name="plaintext">
</form>
</body>
</html>